<% @article.comments.each do |cm| %>
    <% unless cm.archived %>
        <p>
            <strong> commenter:</strong>
            <%= cm.commenter %>
        </p>
        <p>
            <strong> Comment: </strong>
            <%= cm.body %>
        </p>
         <p>
            <%= link_to "Delete", [cm.article, cm], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
        <% end %>
    <% end %>
    